<!doctype html>
<html lang="en-gb" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Andy Parker">
	<meta name="description" content="">
	<meta name="keywords" content="Bespoke, home refurbishments, fittings, house installations, North Kent, Kent">
	<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	
	<!-- fonts -->

	<!-- css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/pattern.css">

	<!-- Scripts -->
	<script src="js/modernizr.js"></script>
	 
	<!-- microformats profile -->
	<link rel="profile" href="http://microformats.org/profile/specs/" title="Microformats"/>

	<!-- meta -->
	<title>Space @ Create Studios Brighton</title>
</head>

<body>
	<div class="wrap">
		<div role="banner" class="row">
			<h1><a href="/" rel="home">Space @ Create</a></h1>
		</div><!-- /@banner -->
		
		<nav role="navigation" class="row">
			<ul class="nav-list">
				<li><a href="#">Home</a></li>
				<li><a href="#">Current</a></li>
				<li><a href="#">Past</a></li>
				<li><a href="#">Future</a></li>
				<li><a href="#">Visit</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav><!-- /@navigation -->
		
		<div role="document">
			<div class="row">
				<div role="main" class="main span12">
					<a href="#"><img src="http://placehold.it/950x550"></a>
				</div><!-- /@main -->
			</div>
			
			<div role="complementary" class="row">
				<div class="span4">
					<a href="#"><img class="thumb" src="http://placehold.it/450x250"></a>
					
					<h2><a href="#">Current</a></h2>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="read-more">Read More</a>
				</div>
				<div class="span4">
					<a href="#"><img class="thumb" src="http://placehold.it/450x250"></a>
				
					<h2><a href="#">Upcoming</a></h2>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="read-more">Read More</a>
				</div>
				<div class="span4">
					<a href="#"><img class="thumb" src="http://placehold.it/450x250"></a>
					
					<h2><a href="#">Past</a></h2>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="read-more">Read More</a>
				</div>
			</div><!-- /@complementary-->
		</div><!-- /@document -->
		
		<footer role="contentinfo">
			<p><a href="http://welovecreate.com/"><img src="img/create-logo.png" alt="Create Studios" title="We Love Create" class="logo-stamp"></a> &copy;2013</p>
		</footer><!-- /@footer -->
	</div><!-- /@wrap -->
</body>
</html>
