<!doctype html>
<html lang="en-gb" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Andy Parker">
	<meta name="description" content="">
	<meta name="keywords" content="Bespoke, home refurbishments, fittings, house installations, North Kent, Kent">
	<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	
	<!-- fonts -->

	<!-- css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/pattern.css">

	<!-- Scripts -->
	<script src="js/modernizr.js"></script>
	 
	<!-- microformats profile -->
	<link rel="profile" href="http://microformats.org/profile/specs/" title="Microformats"/>

	<!-- meta -->
	<title>Space @ Create Studios Brighton</title>
</head>

<body>
	<div class="wrap">
		<div role="banner" class="row">
			<h1><a href="/" rel="home">Space @ Create</a></h1>
		</div><!-- /@banner -->
		
		<nav role="navigation" class="row">
			<ul class="nav-list">
				<li><a href="#">Home</a></li>
				<li><a href="#">Current</a></li>
				<li><a href="#">Past</a></li>
				<li><a href="#">Future</a></li>
				<li><a href="#">Visit</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav><!-- /@navigation -->
		
		<div role="document">
			<h1>Contact Us</h1>
			
			<div class="row">
				<div role="main" class="main span4 vcard">
					<ul>
						<li class="org">Create Studios</li>
						<li class="street-address">Unit D &amp; E, Level 2 South</li>
						<li class="street-address">New England House</li>
						<li class="street-address">New England Street</li>
						<li class="locality">Brighton</li>
						<li class="region">East Sussex</li>
						<li class="postal-code">BN1 4GH</li>
					</ul>
					
					<p><em>Tel:</em> <span class="tel">01273 601 965</span></p>
					
					<p>For general enquiries:<br>
					<a href="mailto:hello@welovecreate.com" class="email">hello@welovecreate.com</a></p>
				</div><!-- /@main -->
				
				<div role="complementary" class="span8">
					<iframe width="620" height="475" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=new+england+house+brighton&amp;aq=&amp;sll=50.839602,-0.10619&amp;sspn=0.147211,0.363235&amp;ie=UTF8&amp;hq=new+england+house&amp;hnear=Brighton,+The+City+of+Brighton+and+Hove,+United+Kingdom&amp;ll=50.83215,-0.139123&amp;spn=0.036807,0.090809&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=15935337155689037788&amp;output=embed"></iframe>
				</div><!-- /@complementary -->
			</div>
		</div><!-- /@document -->
		
		<footer role="contentinfo">
			<p><a href="http://welovecreate.com/"><img src="img/create-logo.png" alt="Create Studios" title="We Love Create" class="logo-stamp"></a> &copy;2013</p>
		</footer><!-- /@footer -->
	</div><!-- /@wrap -->
</body>
</html>
