<!doctype html>
<html lang="en-gb" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Andy Parker">
	<meta name="description" content="">
	<meta name="keywords" content="Bespoke, home refurbishments, fittings, house installations, North Kent, Kent">
	<meta name="viewport" content="initial-scale=1.0, width=device-width"/>
	
	<!-- fonts -->

	<!-- css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/pattern.css">

	<!-- Scripts -->
	<script src="js/modernizr.js"></script>
	 
	<!-- microformats profile -->
	<link rel="profile" href="http://microformats.org/profile/specs/" title="Microformats"/>

	<!-- meta -->
	<title>Space @ Create Studios Brighton</title>
</head>

<body>
	<div class="wrap">
		<div role="banner" class="row">
			<h1><a href="/" rel="home">Space @ Create</a></h1>
		</div><!-- /@banner -->
		
		<nav role="navigation" class="row">
			<ul class="nav-list">
				<li><a href="#">Home</a></li>
				<li><a href="#">Current</a></li>
				<li><a href="#">Past</a></li>
				<li><a href="#">Future</a></li>
				<li><a href="#">Visit</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav><!-- /@navigation -->
		
		<div role="document">
			<div class="row">
				<div role="main" class="main span12">
					<img src="http://payload124.cargocollective.com/1/10/326853/4796399/comp%203_950.jpg">
					
					<h1>Chris Floyd - 140 Characters</h1>
					
					<h4>7th - 24th February 2013</h4>
					
					<p>Renowned for his work with artists such as Lilly Allen, Gwynyth Paltrow and Paul McCartney, award winning international portrait photographer Chris Floyd has been published in the Guardian Weekender, The New York Time Magazine, and The Face to name but a few.</p>
					
					<p>One Hundred &amp; Forty Characters (the number of characters available when posting on social media site Twitter) is a project inspired by the realisation that for over a month, Chris’s only communication with close friends had been via social media platforms. This insight prompted him to begin taking portraits of the people he followed on Twitter in an attempt to reconcile the way we traditionally build connections with people, and how we conduct modern relationships in today’s rapidly changing digital age. The work will be exhibited for the very first time alongside text.</p>
					
					<blockquote>
					“As we are now well and truly living in a digital age, I am aware that this ‘state of being’ is only going to deepen, and the traditional ways our friendships play out, although they will not go away anytime soon, are going to have to make room for a new way of doing things. The project rolled on indefinitely for almost a year but when, one day, I counted up the number of subjects to date and came to a number in the mid one hundred and thirties, I immediately knew where this had to end. So here they are. My new friends. 140 characters. No more and no less.”
					</blockquote>
					
					<h3>Portraiture Session with Chris Floyd</h3>
					
					<p>Alongside the exhibition, Create will be offering the rare opportunity to book a portrait session with Chris. Sessions will take place on Saturday 23rd and Sunday 24th February and are bookable using the payment buttons below. Each portrait session includes one 10 x 12' B/W c-type print in the cost. Additional prints can be ordered when booking, or on the day of your shoot.</p>
				
					<ul>
						<li>Portrait Session for 1-2 people (includes one 10 x 12 print) <strong>&pound;50.00</strong></li>
						<li>Portrait Session for 2-5 people (includes one 10 x 12 print) <strong>&pound;70.00</strong></li>
					</ul>
					
					<h4>Additional Print order</h4>
					
					<ul>
						<li>10x 12 <strong>&pound;15.00</strong></li>
						<li>12 x 16 <strong>&pound;25.00</strong></li>
						<li>16 x 20 <strong>&pound;35.00</strong></li>
					</ul>
					
					<p><strong>To book your session with Chris, please chose from the options below. Sessions are available both Saturday 23rd and Sunday 24th February, with the option of chosing either an AM or PM timeslot.</strong></p>
					
					<p>Please include your email and contact telephone number when booking and we will call you to book in your time. Choose whether you are booking for a group of 1-2 people (&pound;50.00) or a group of 3-5 people (&pound;70.00).</p>
					
					<p>Each session includes one 10 x 12' B/W print of your chosen photograph. Additional prints can be pre-ordered online using the buttons at the bottom of this page, or by paying in cash on the day of your shoot.</p>
					
					<h2>Bookings</h2>
					
					<h3>Saturday 23rd February</h3>
					
					<table class="buy-table">
						<thead>
							<tr>
								<th>AM Sessions (15min)</th>
								<th>PM Sessions (15min)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>ADD TO CART</td>
								<td>ADD TO CART</td>
							</tr>
						</tbody>
					</table>
					
					<h3>Sunday 24th February</h3>
					
					<table class="buy-table">
						<thead>
							<tr>
								<th>AM Sessions (15min)</th>
								<th>PM Sessions (15min)</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>ADD TO CART</td>
								<td>ADD TO CART</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /@main -->
			</div>
		</div><!-- /@document -->
		
		<footer role="contentinfo">
			<p><a href="http://welovecreate.com/"><img src="img/create-logo.png" alt="Create Studios" title="We Love Create" class="logo-stamp"></a> &copy;2013</p>
		</footer><!-- /@footer -->
	</div><!-- /@wrap -->
</body>
</html>
